<div class="container" id="question">
<% @question.answers.each do |answer| %>
<h2 class="title"><i class="fas fa-font"></i><%= user_info(answer.user_id).name %></h2>
  <div class="answer-detail">
    <p><%= simple_format(answer.content) %></p>
    <%= image_tag answer.image.url if answer.image? %>
    <p class="timestamp"> <%= answer.created_at.strftime("%Y/%m/%d %H:%M") %>
    <p class="link">
      <% if current_user == answer.user %>
        <span class="link-edit">
          <%= link_to "編集", edit_answer_path(answer) %>
          <%= link_to "削除", answer_path(answer), method: :delete %>
        <span>
      <% end %>
    </p>
  </div>
<%= render 'comments/comments', commentable: answer, comment: current_user.comments.build %>  
<% end %>
</div>