<div class="container" id="question">
  <h1><%= @question.title %></h1>
  <h2 class="title"><i class="fab fa-quora"></i><%= @question.user.name %></h2>
  <div class="question-detail">
    <p><%= simple_format(@question.content) %></p>
    <p class="timestamp"> <%= @question.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <p class="link">
      <%= link_to "回答する", new_experts_answer_path(@question) %>
    </p>
  </div>
</div>