<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body>
  <% if user_signed_in? %>
    <%= render "layouts/header" %>
  <% elsif admin_signed_in? %>
    <%= render "layouts/admin_header"%>
  <% else %>
    <%= render "layouts/guest_header" %>
  <% end %>
  <%= render "layouts/flash_messages" %>
  <%= yield %>
  <% if user_signed_in?%>
    <%= render "layouts/footer" %>
  <% elsif admin_signed_in? %>
    <%= render "layouts/admin_footer" %>
  <% else %>
    <%= render "layouts/guest_footer" %>
  <% end %>
</body>

</html>